@model KhaoSat.Models.Employeeanswer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employeeanswer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeTestId" class="control-label"></label>
                <select asp-for="EmployeeTestId" class ="form-control" asp-items="ViewBag.EmployeeTestId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <select asp-for="QuestionId" class ="form-control" asp-items="ViewBag.QuestionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Answer" class="control-label"></label>
                <input asp-for="Answer" class="form-control" />
                <span asp-validation-for="Answer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

